.flexContainer:last-child { margin-top: 2em; }
body { margin: 0; padding: 0; }
div { height: 50px; width: 50px; }
div:nth-child(1) {
    background-color:red;
    width: 80px;
    height: 80px;
    flex-grow: 2; /* ocupa 2/8 do espaço restante */
}
div:nth-child(2) {
    background-color: blue;
    flex-grow: 2; /* ocupa 2/8 do espaço restante */
}
div:nth-child(3) {
    background-color: green;
    flex-grow: 2; /* ocupa 2/8 do espaço restante */
}
div:nth-child(4) {
    background-color: yellow;
    flex-grow: 2; /* ocupa 2/8 do espaço restante */
}
div:nth-child(5) { background-color: pink; }
div:nth-child(6) { background-color: black; }
div:nth-child(7) { background-color: orange; }
div:nth-child(8) { background-color: silver; }
/* fim do setup */

.flexContainer {
    display: flex;
    /* justify-content: space-around;
    align-items: center;
    flex-direction: column; */
}

.flexItem {
    /* flex-shrink: 1; */
    flex: 0 1; /* atalho para flex grow e flex shrink */
    flex-basis: 200px; /* define uma largura (width) para os elementos. */
    flex: 0 1 25%; /* flex grow | flex-shrink | flex-basis */
}

.primeiro {
    flex-shrink: 2; /* elemento vai diminuir 2 vezes mais que os demais */
}
